:root {
  --logo-font-size: 1.2rem;
}

.header {
  background: #515151;
  color: #fff;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  padding-left: 1rem;
}

.header img {
  height: var(--logo-font-size);
}

.logo,
.logo a {
  padding: 0;
  font-size: var(--logo-font-size);
}

.header a {
  color: #fff;
  text-decoration: none;
}

.banner div a:hover {
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.menuButton {
  display: block;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 30px;
  text-decoration: none;
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.menu li {
  border-top: 1px solid #fff;
  width: 100%;
  font-size: 1.5rem;
  display: inline-block;
  width: 100%;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 1024px) {
  :root {
    --logo-font-size: 2rem;
  }

  .banner {
    position: relative;
    float: left;
    width: auto;
    margin: 0px;
    padding: 0px;
  }

  .menuButton {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;
    right: 30px;
    width: auto;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .menu li {
    list-style: none;
    display: inline;
    margin-left: 20px;
    border: 0px;
  }

  .menuItem {
    display: inline;
  }
}
