:root {
  --toggles-height: 2rem;
}

.component-title {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.component-title > h2 {
  font-size: 0.8rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.right-align {
  justify-content: fle;
}

.toggle-full-screen {
  justify-self: flex-end;
}

.small-toggle-button {
  height: var(--toggles-height) !important;
}

.small-toggle-label {
  font-size: 0.6rem;
}

.no-toggle-buttons-spacer {
  display: none;
}

@media only screen and (min-width: 768px) {
  .no-toggle-buttons-spacer {
    display: block;
    height: var(--toggles-height);
  }
}
