.chart-container > canvas {
  width: 100% !important;
}

.full-screen {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.full-screen canvas {
  height: 90% !important;
}
