:root {
  --logo-font-size: 1.2rem;
}

body {
  font-family: Helvetica;
  font-size: 16px;
  color: #515151;
}

.header {
  background: #515151;
  color: #fff;
  font-family: Helvetica;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  padding-left: 1rem;
}

.header img {
  height: var(--logo-font-size);
}

.logo,
.logo a {
  padding: 0;
  font-size: var(--logo-font-size);
}

.header a {
  color: #fff;
  text-decoration: none;
}

.banner div a:hover {
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.menuButton {
  display: block;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 30px;
  text-decoration: none;
}

.menu {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.menuItem {
  display: inline-block;
  width: 100%;
}

.menu li {
  border-top: 1px solid #fff;
  width: 100%;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.col1-320px {
  display: grid;
  grid-template-columns: none;
  grid-row-gap: 1rem;
}

.content {
  position: relative;
  top: 4rem;
}

.span-all-col {
  grid-column: 1 / -1;
}

.logo {
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  :root {
    --logo-font-size: 2rem;
  }

  body {
    font-size: 18px;
  }

  .banner {
    position: relative;
    float: left;
    width: auto;
    margin: 0px;
    padding: 0px;
  }

  .menuButton {
    display: none;
  }

  .menu {
    display: block;
    position: absolute;
    right: 30px;
    width: auto;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .menu li {
    list-style: none;
    display: inline;
    margin-left: 20px;
    border: 0px;
  }

  .menuItem {
    display: inline;
  }

  .col2-768px {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3%;
  }
}

@media only screen and (min-width: 1024px) {
  .logo > h1 {
    font-size: 2rem;
  }

  .logo > * > img {
    height: 2rem;
  }

  .col3-1024px {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3%;
  }
}
