body {
  font-family: Helvetica;
}

.col2 {
  display: grid;
  grid-template-columns: none;
  grid-row-gap: 1rem;
}

.span2 {
  grid-column: 1;
}

@media only screen and (min-width: 800px) {
  .col2 {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3%;
  }

  .span2 {
    grid-column: 1 / span 2;
  }
}
